
.background-man-whith-gipson {
    min-height: 700px;
    background: url(../images/man-whith-gipson.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: $red 1px solid;
}

.rock-with {
    max-width: 552px;
    width: 100%;
    margin: auto;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    padding-top: 208px;

    h1 {
        color: $red;
        font: normal 100% $serif-oswald;
        font-size: 116px;
        font-weight: 400;
        line-height: 85.6px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;

    }

    p {
        color: $hex-gray;
        font: normal 100% $cursive-great;
        font-size: 80px;
        font-weight: 400;
        line-height: 160.5px;
        margin: auto;
    }

}


.discover-top {
    padding-top: 90px;
}

.discover {
    @include border-radius-red;
    list-style: none;
    margin: auto;
    text-decoration: none;
    color: $white;
    font: normal 100% $sans-droid;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;

}
