
$sans-droid: 'Droid Sans', sans-serif;
$sans-open: 'Open Sans', sans-serif;
$serif-oswald: 'Oswald', sans-serif;
$cursive-great: 'Great Vibes', cursive;

$mono: "Menlo", "Fira Mono", monospace;
$heading-font-family: "Helvetica Neue", Arial, sans-serif;

