
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    transition:  $transition;
}

@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

@mixin list-base {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


@mixin border-radius-white {
    border-radius: 30px;
    padding: 15px 34px;
    background-color: $main-color;

}
@mixin border-radius-red {
    border-radius: 30px;
    padding: 15px 34px;
    background-color: $primary-bg-color;

}
@mixin primery-color {
    color: $text-second-color;
}

@mixin linx ($link, $visit, $hover, $active) {
    a {
        color: $link;
        &:visited {
            color: $visit;
        }
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
    }
}